<header class="header">
    <div class="container header-content">
        <div class="logo-wrapper" routerLink="/home">
            <img src="logo.png" alt="Elopet">
            <span class="logo-texto">
                <span class="cor-elo">elo</span><span class="cor-pet">pet</span>
            </span>
        </div>

        <nav class="menu">
            <a routerLink="/home" routerLinkActive="ativo">Home</a>
            <a routerLink="/vitrine" routerLinkActive="ativo">Adoção</a>
        </nav>
    </div>
</header>